var/
vendor/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
config/secrets/dev/dev.*.public/private.php
/config/secrets/*/*.*.public.php
/config/secrets/*/*.*.private.php
